header {
  justify-content: center;
}

    main {
    height: 100%;
  }
  .top {
    height: 200px;
    margin: 10% 20% 100% 20%;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    overflow: hidden;
  }
  .top img {
    height: 200px;
    width: 100%;
  }
.btn2OfFooter{
  border: 5px solid white;
  background-color: rgb(202, 114, 202);
  margin: -30px 20px 0 0;
  box-shadow: none;
  color: white;
}
  
.btn1OfFooter,.btn3OfFooter,.btn4OfFooter{
  border: 5px solid white;
  background-color: transparent;
  margin: 0px 20px 0 0;
  height: 60px;
  border-radius: 50%;
  width: 60px;
  color: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.456);
}

@media only screen and (max-width: 600px) {
    .containerOfMain button {
        margin: 20% 12%;
        height: 200px;
         width: 300px;
         box-shadow: 0px 0px 20px black;
      }
      .top {
        height: 30%;
        margin: 18% 10% 5% 10%;
      }
      .top img {
        height: 150px;
      }
     
}
